blockquote::before {content: "”";right: 20px;}
.main-navigation ul.sub-menu .menu-item.menu-item-has-children > a::before {content: "";}
.blogmagazine-ticker-block .lSAction > a {float: left;}
.blogmagazine-ticker-block .vertical .lSAction > a.lSPrev {margin: 0 5px 0 0;}
.ticker-content-wrapper .lSSlideOuter.vertical .lSAction .lSNext, .ticker-content-wrapper .lSSlideOuter.vertical .lSAction .lSPrev {float: left;}
.blogmagazine-post-content {text-align: right;}
.widget_meta a::before {content: "";}
.blogmagazine_featured_slider .slider-posts {direction: ltr;}
.blogmagazine-featured-main-slider {direction: rtl;}
.blogmagazine-block-posts-wrapper {direction: ltr;}
.blogmagazine-block-carousel {direction: rtl;}
.lSAction, .carousel-nav-action {direction: ltr;}